{% extends "layout.html" %} 

{% block title %}
{% endblock %}

{% block section %}
    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                        <h2 class="about-header">My learning path</h2>
                </div>
            </div>
        </div>
        
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>2016</h2>
                        
                            <p><a target="_blank" class="about-link" href="https://www.codecademy.com/learn/learn-python">Codecademy course</a>:
                                Python course with structured mini projects.
                            </p>    
                        
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2018</h2>
                        
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50's Intro to Computer Science</a>:
                                    HarvardX course with projects in C, HTML, CSS, JavaScript, Python and SQL.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://dash.generalassemb.ly/">General Assembly's Dash</a>:
                                    Web development course in HTML, CSS and JavaScript.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/intro-to-data-science--ud359">Udacity's Intro to Data Science</a>:
                                    Introduction to data wrangling, data analysis, data visualization and MapReduce in Python.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/data-wrangling-with-mongodb--ud032">Udacity's Data Wrangling with MongoDB</a>:
                                    Course on data extraction, incl. web scraping, data quality checking and MongoDB.
                                </li>
                            </ul>
                        
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2019</h2>
                        
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity's Data Scientist Nanodegree</a>:
                                    In 2019, this course also included <a target="_blank" class="about-link" href="https://www.udacity.com/course/machine-learning-engineer-nanodegree--nd009t">
                                    Udacity's Machine Learning Engineer Nanodegree</a>; Machine learning, deep learning, software
                                    and data engineering, recommendation systems.
                                </li>
                                <li>
                                    Data Science Basics seminar as part of my Master's degree: Introduction to supervised ML
                                    and academic final project in time series forecasting.
                                </li>
                            </ul>
                        
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2020</h2>
                        
                            <p><a target="_blank" class="about-link" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                                Udacity's Intro to Data Structures and Algorithms</a>:
                                Course on different algorithms and data structures, incl. time- and space-efficiency,
                                search and sort algorithms, maps, hashing, trees and list-based collections.
                            </p>
                        
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2021</h2>
                        
                            <p>
                                Master thesis on sustainable finance, leveraging the Transformer-based
                                NLP model Longformer to classify thousands of text sequences and determine
                                whether these contain sustainability-related information.
                            </p>
                        
                </div>
            </div>
        </div>
    </section>

{% endblock %}
