{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block section %}

    <section class="home-content">
        <div class="container">
            <div class="row portfolio-row justify-content-center">
                    <div class="index-bottom text-center">
                        <p>
                                Get <a target="_blank" class="about-link" href="https://medium.com/@julia.nikulski">in touch</a> with me!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>  

{% endblock %}  