{% extends "layout.html" %} 

{% block title %}
{% endblock %}


{% block section %}

    <section class="home-content">

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                        <h2 class="about-header">My Professional Projects</h2>
                </div>
            </div>
        </div>

        <div class="container">
            
            <div class="row portfolio-row justify-content-center">
                
                    
                        <div class="col-12 col-md-6">
                            <div class="portfolio-text text-center">
                                <a target="_blank" class="title-link" href="https://github.com/julianikulski/director-experience-sustainability"><h5>Breast Cancer Detection</h5></a>
                                <p class="project-des">
                                    A ML model for predicting breast cancer incidence in mammography images.
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> Python, Scikit-Learn
                                </p>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <a target="_blank" href="https://github.com/julianikulski/director-experience-sustainability">
                                        <img class="portfolio-img" src="/static/img/BreastCancerAI.png">
                                    </a>
                                </div>
                            </div>
                            <div class="row button-row">
                                
                                    
                                        <div class="col-12 text-center">
                                            <a target="_blank" href="https://github.com/julianikulski/director-experience-sustainability" class="button btn portfolio-btn rounded-0">Code</a>
                                        </div>
                                    
                                
                            </div>
                        </div>
                    
                        <div class="col-12 col-md-6">
                            <div class="portfolio-text text-center">
                                <a target="_blank" class="title-link" href="https://github.com/julianikulski/vaccination-info-bot"><h5>Machine Learning Pipelining: Templates for Rapid ML Modeling and Deployment</h5></a>
                                <p class="project-des">
                                    A set of ML templates used to rapidly build, test and deploy machine learning models.
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> Python, OOP
                                </p>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <a target="_blank" href="https://github.com/julianikulski/vaccination-info-bot">
                                        <img class="portfolio-img" src="/static/img/ML_Pipeline.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="row button-row">
                                
                                    
                                        <div class="col-12 text-center">
                                            <a target="_blank" href="https://github.com/julianikulski/vaccination-info-bot" class="button btn portfolio-btn rounded-0">Code</a>
                                        </div>
                                    
                            </div>
                        </div>
                                   
            </div>
            
            <div class="row portfolio-row justify-content-center">
                
                    
                        <div class="col-12 col-md-6">
                            <div class="portfolio-text text-center">
                                <a target="_blank" class="title-link" href="https://towardsdatascience.com/36-questions-to-fall-in-love-with-ai-89037cc040ab"><h5>Sentiment Analysis For Survey Comments</h5></a>
                                <p class="project-des">
                                    Using VADER to quantify emotional valence of survey comments.
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> Python, NLP
                                </p>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <a target="_blank" href="https://towardsdatascience.com/36-questions-to-fall-in-love-with-ai-89037cc040ab">
                                        <img class="portfolio-img" src="/static/img/Vader.PNG">
                                    </a>
                                </div>
                            </div>
                            <div class="row button-row">
                                
                                    
                                        <div class="col-6 text-center">
                                            <a target="_blank" href="https://towardsdatascience.com/36-questions-to-fall-in-love-with-ai-89037cc040ab" class="button btn portfolio-btn rounded-0">Blog Post</a>
                                        </div>
                                    
                                
                                    
                                        <div class="col-6 text-center">
                                            <a target="_blank" href="https://github.com/julianikulski/ai-36-questions" class="button btn portfolio-btn rounded-0">Code</a>
                                        </div>
                                    
                                
                            </div>
                        </div>
                    
                        <div class="col-12 col-md-6">
                            <div class="portfolio-text text-center">
                                <a target="_blank" class="title-link" href="https://towardsdatascience.com/how-to-build-a-data-science-portfolio-website-335b0f253822"><h5>Difference in Difference</h5></a>
                                <p class="project-des">
                                    Measuring performance increase in a shifting control group.
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> R, Statistical Analysis
                                </p>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <a target="_blank" href="https://towardsdatascience.com/how-to-build-a-data-science-portfolio-website-335b0f253822">
                                        <img class="portfolio-img" src="/static/img/DiffinDiff.png">
                                    </a>
                                </div>
                            </div>
                            <div class="row button-row">
                                
                                    
                                        <div class="col-6 text-center">
                                            <a target="_blank" href="https://towardsdatascience.com/how-to-build-a-data-science-portfolio-website-335b0f253822" class="button btn portfolio-btn rounded-0">Blog Post</a>
                                        </div>
                                    
                                
                                    
                                        <div class="col-6 text-center">
                                            <a target="_blank" href="https://github.com/julianikulski/portfolio-website" class="button btn portfolio-btn rounded-0">Code</a>
                                        </div>
                                    
                                
                            </div>
                        </div>
                    
                
            </div>
            
            <div class="row portfolio-row justify-content-center">
                <div class="col-md-5">
                    <div class="text-center">
                            <h2 class="about-header">My Personal Projects</h2>
                    </div>
                </div>
            </div>

            <div class="row portfolio-row justify-content-center">
                
                    
                        <div class="col-12 col-md-6">
                            <div class="portfolio-text text-center">
                                <a target="_blank" class="title-link" href="https://towardsdatascience.com/the-political-and-economic-perspective-of-covid-19-c35c046ceffc"><h5>Trading Analytics</h5></a>
                                <p class="project-des">
                                    Quantifying price action metrics to assist in trading commodities and securities
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> Python, EDA, Analytics
                                </p>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <a target="_blank" href="https://towardsdatascience.com/the-political-and-economic-perspective-of-covid-19-c35c046ceffc">
                                        <img class="portfolio-img" src="/static/img/tech_analysis.png">
                                    </a>
                                </div>
                            </div>
                            <div class="row button-row">
                                
                                    
                                        <div class="col-6 text-center">
                                            <a target="_blank" href="https://towardsdatascience.com/the-political-and-economic-perspective-of-covid-19-c35c046ceffc" class="button btn portfolio-btn rounded-0">Blog Post</a>
                                        </div>
                                    
                                
                                    
                                        <div class="col-6 text-center">
                                            <a target="_blank" href="https://github.com/julianikulski/covid-19" class="button btn portfolio-btn rounded-0">Code</a>
                                        </div>
                                    
                                
                            </div>
                        </div>
                    
                        <div class="col-12 col-md-6">
                            <div class="portfolio-text text-center">
                                <a target="_blank" class="title-link" href="https://towardsdatascience.com/the-ultimate-guide-to-adaboost-random-forests-and-xgboost-7f9327061c4f"><h5>The Game of Clueless with Python</h5></a>
                                <p class="project-des">
                                    A python based game of Clueless!
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> Python, OOP, Gaming
                                </p>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <a target="_blank" href="https://towardsdatascience.com/the-ultimate-guide-to-adaboost-random-forests-and-xgboost-7f9327061c4f">
                                        <img class="portfolio-img" src="/static/img/ultimate-guide.png">
                                    </a>
                                </div>
                            </div>
                            <div class="row button-row">
                                
                                    
                                        <div class="col-12 text-center">
                                            <a target="_blank" href="https://towardsdatascience.com/the-ultimate-guide-to-adaboost-random-forests-and-xgboost-7f9327061c4f" class="button btn portfolio-btn rounded-0">Blog Post</a>
                                        </div>
                                    
                                
                            </div>
                        </div>
                    
                
            </div>           

{% endblock %}
